/* elements start */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #d9dcd6;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
    color: white;
  }
  /* elements end */
  
/* I reorganized the CSS so that the elements would be grouped together. */

  /* header start */
  .header {
    padding: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
  }
  
  .header h1 {
    display: inline-block;
    font-size: 48px;
  }
  
  .header .seo {
    color: #d9dcd6;
  }
  
  .header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
  }
  
  .header section ul {
    list-style-type: none;
  }
  
  .header section ul li {
    display: inline-block;
    margin-left: 25px;
  }
  /*header stop*/

  /* I reorganized the CSS so that the header classes would be grouped together. */
  
  /*hero start*/
  .hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .float-left {
    float: left;
    margin-right: 25px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
  }
  /* hero end */

  /* I reorganized the CSS so that any classes affect the hero class would be grouped together. */
  
  /*section start*/
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  
  .benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #2589bd;
  }
  
  .benefit {
    margin-bottom: 32px;
    color: #ffffff;
  }

  /* I consolidated .benefit-lead, .benefit-brand, and .benefit-cost into one class. */
  
  .benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }

    /* I consolidated .benefit-lead h3, .benefit-brand h3, and .benefit-cost h3 into one class. */
  
  .benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
  }

    /* I consolidated .benefit-lead img, .benefit-brand img, and .benefit-cost img into one class. */
  
  .content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #0072bb;
    color: #ffffff;
  }

    /* I consolidated .search-engine-optimization, .online-reputation-management, and .social-media-marketing into one class. */
  
  .content img {
    max-height: 200px;
  }

    /* I consolidated .search-engine-optimization img, .online-reputation-management img, and .social-media-marketing img into one class. */
  
  .content h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }

  /* I consolidated .search-engine-optimization h2, .online-reputation-management h2, and .social-media-marketing h2 into one class. */

  .footer {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }
  
  .footer h2 {
    font-size: 20px;
  }
  /* section end */
  